<% layout('layouts/boilerplate') -%>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets\homepage.css">
</head>
<div style="padding-right: 5%; padding-left: 5%;">
  <div class="container">
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
  </div>
</div>
</div>
<!--renders a jumbotron indicating a home manager account-->
<% if(currentUser && currentUser.isHomeManager){ %>

<header class="jumbotron bg-warning">
  <h1 style="text-align:center;">HomeManager</h1>
</header>
<% } %>

<header class="jumbotron">
  <h1 style="text-align:center;">Welcome to The Taka Smart Home App <%= currentUser.userFirstName %></h1>
</header>
<!--if statements proivde checks to change button colours depending on their state.-->
<div style="padding-left: 10%; padding-right: 10%;">
  <div class="grid-container">
    <% if(powerUsage < 3000){ %>
    <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
      style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius: 
      50%; border-style: solid; border-color: green;">
      <% } %>
      <% if((powerUsage >= 3000) && (powerUsage < 4000)){ %>
      <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
        style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius: 
        50%; border-style: solid; border-color: orange;">
        <% } %>
        <% if(powerUsage >= 4000){ %>
        <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
          style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius:
          50%; border-style: solid; border-color: red;">
          <% } %>
          <div class="card-body">
            <h3>
              <centre><br><br>Power Usage:</centre>
            </h3> <%= powerUsage %>W
          </div>
        </a>

        <% if((26 > temp) && (temp >= 18)){ %>
        <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
          style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius: 
          50%; border-style: solid; border-color: green;">
          <% } %>

          <% if((temp >= 26) && (temp < 30)){ %>
          <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
            style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius: 
            50%; border-style: solid; border-color: orange;">
            <% } %>

            <% if(temp >= 30){ %>
            <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
              style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius: 
              50%; border-style: solid; border-color: red;">
              <% } %>

              <% if(temp < 18){ %>
              <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="stats"
                style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius: 
                50%; border-style: solid; border-color: blue;">
                <% } %>
                <div class="card-body">
                  <h3>
                    <centre><br><br>Temperature:</centre>
                  </h3> <%= temp %>°C
                </div>
              </a>


              <% if(humidity < 55){ %>
              <a class=" card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
                style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius:
                 50%; border-style: solid; border-color: green;">
                <% } %>

                <% if((humidity >= 55) && (humidity < 65)){ %>
                <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
                  style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius: 
                  50%; border-style: solid; border-color: orange;">
                  <% } %>

                  <% if((humidity >= 65)){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
                    style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius: 
                    50%; border-style: solid; border-color: red;">
                    <% } %>

                    <div class="card-body">
                      <h3>
                        <centre><br><br>Humidity:</centre>
                      </h3> <%= humidity %>%
                    </div>
                  </a>

                  <% if(c02 < 400){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
                    style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius: 
                    50%; border-style: solid; border-color: green;">
                    <% } %>

                    <% if((c02 >= 400) && (c02 < 1000)){ %>
                    <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
                      style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius:
                       50%; border-style: solid; border-color: orange;">
                      <% } %>

                      <% if(c02 >= 1000){ %>
                      <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
                        style="width: 18rem; height: 18rem; justify-content: space-evenly; border-radius: 
                        50%; border-style: solid; border-color: red;">
                        <% } %>

                        <div class="card-body">
                          <h3>
                            <centre><br><br>CO2:</centre>
                          </h3> <%= c02 %>PPM
                        </div>
                      </a>
  </div>
</div>

<div class="grid-container" style="margin-left: 14%;width: 70%;">
  <a href="/room" class="btn btn-sm btn-success grid-item"
    style="box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
    font-size: 30px; width: 110%; margin-top: 20px;">Rooms</a>
  <a href="/gendevice" class="btn btn-sm btn-success grid-item"
    style="box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
    font-size: 30px; width: 110%; margin-top: 20px;"
    role="button">Generation Devices</a>
</div>

<!-- Power notification -->
<% if (powerUsage >= 4000) { %>
<div class="callout">
  <div class="callout-header">Power Usage high</div>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
  <div class="callout-container">
    <p>Consider turing off some devices at the <a href="/room">rooms page</a></p>
  </div>
</div>
<% } %>

<brk></brk>

<!-- Temprature notification -->
<% if (temp >= 29) { %>
<div class="callout">
  <div class="callout-header">Temprature high</div>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
  <div class="callout-container">
    <p>Consider turing on an AC unit at the <a href="/room">rooms page</a></p>
  </div>
</div>
<% } %>

<!-- c02 notifaction -->
<% if (c02 >= 1000) { %>
<div class="callout">
  <div class="callout-header">C02 high</div>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
  <div class="callout-container">
    <p>Consider opening windows to allow fresh air to ventilate the home</a></p>
  </div>
</div>
<% } %>

<!-- humditiy notifaction -->
<% if (humidity >= 70) { %>
<div class="callout">
  <div class="callout-header">Humidity high</div>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
  <div class="callout-container">
    <p>Consider turing on an AC unit at the <a href="/room">rooms page</a></p>
  </div>
</div>
<% } %>

