<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" 
        type="text/javascript" async></script>
    </head>
    <body>
          
    <div id="landing-header">
           <!--  <img class="landingLogo"src="images/esteem.jpeg" alt="Esteem Badge" class="img-responsive">--->
           <p style="color:white;font-size: 150px">Taka</p>
            <div clas="logreg">
                <br>
                <br>
        <a href="/login" class="btn btn-lg btn-primary" style="font-size: 50px;">Login</a>
        <a href="/register" class="btn btn-lg btn-success"style="font-size: 50px;">Register</a>
        </div>
    </div>
    
    <!--slide show for carousel images-->
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    </body>
    </html>