<% layout('layouts/boilerplate') -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<!--chart.js scripts for rendering stats for users to view-->
<script>

    //Parse to allow access to JSOn data
    var arrayContent = '<%- data  %>';
    var arrContentJson = JSON.parse(arrayContent);

    let tempratureArr = []
    let humidityArr = []
    let c02Arr = []
    let powerArr = []
    let hours = 24;

    function addValuesToArrays() 
    {
        for (var i = 0; i < hours; i++)
         {
            tempratureArr.push(arrContentJson[i].temperature);
            humidityArr.push(arrContentJson[i].humidity);
            c02Arr.push(arrContentJson[i].CO2Levels);
            powerArr.push(arrContentJson[i].power)
        }
    }

    addValuesToArrays();

    console.log(tempratureArr)
    console.log(humidityArr)
    console.log(c02Arr)

</script>
<style>
    .flex-container 
    {
      display: flex;
      flex-wrap: wrap;
      padding-left: 8%;
      margin-bottom: 5%;
    }
    
    .flex-container > div {
      background-color: #d3d3d3;
      width: 45%;
      min-width: 500px;
      margin: 10px;
      line-height: 75px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 10px;
    }
</style>
<div class="flex-container"> 
<div class="chart-container">
    <canvas id="tempChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="humidChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="c02Chart"></canvas>
</div>

<div class="chart-container">
    <canvas id="powerChart"></canvas>
</div>

<script>
    async function chartIt(array, barTitle, colour, chartTitle, chartTo, yAxes) 
    {

        let myChart = document.getElementById(chartTo).getContext('2d');

        let chart = new Chart(myChart, {
            responsive: true,
            type: 'line',
            data: {
                labels: ["00:00", "01:00", "02:00", "03:00",  "04:00",  "05:00",  "06:00",  "07:00",  "08:00",  "09:00",  "10:00",  "11:00",  "12:00",
                "13:00",  "14:00",  "15:00",  "16:00",  "17:00",  "18:00",  "19:00",  "20:00",  "21:00",  "22:00",  "23:00"],
                datasets: [{
                    data: array,
                    label: barTitle,
                    backgroundColor: colour,
                    fill: false,
                    //Adjust these to change the size of the pointers (the blue circles that display the exact value)
                    pointRadius: 8,
                    pointHoverRadius: 8
                },
                ]
            },
            //Options for the chart this is where you can customzie it 
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: chartTitle,
                    fontSize:25
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                         scaleLabel: {
                                display: true,
                                labelString: yAxes,
                                fontSize: 18
                            }
                    }]
                }


            }
        });
    }

    //Function takes
    // data array, the bar name, bar colour, title of chart, and which div to chart too 
    chartIt(tempratureArr, "Temprature", "blue", "Temperature", "tempChart","Temprature (°C)");
    chartIt(humidityArr, "Humidity", "green", "Humidity", "humidChart","Humdidity (%)");
    chartIt(c02Arr, "C02", "purple", "C02", "c02Chart","C02 (PPM)");
    chartIt(powerArr, "Power Generation", "yellow", "Power Generation", "powerChart","Power Usage (Watts)");
</script>