<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  .crop {
      width: 100%;
      height: 10%;
      overflow: hidden;
      }
    
    .crop img {
    width: 100%;
    }
</style>
<header class="jumbotron">
  <h1>Edit Room</h1>
</header>
<br>
<br>
<div class="col-sm-12" style="width:100%">
  <div class="card img-top img-fluid" style="width: 50rem;">
    <div class="card-block">
      <div class="card"
        style="width: 70%; background-color: #d3d3d3; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <img class="card-img-top" src="<%= room.roomImage %>" alt="<%= room.roomImage %>">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 30px; text-align: center;"><%= room.roomName%></h5>
          <hr class="style-two">
          <!--form for editing a room-->
          <form class="form" action="/room/<%= room._id %>/?_method=PUT" method="POST">
            <div style="justify-content: center; display: grid;">
              <div style="padding-left: 10%; padding-right: 10%;">
                <label for="title"><b>Room name</b></label>
                <input type="text" id="postTitle" value="<%= room.roomName %>" name="room[roomName]" required>
                <br><br>
                <button class="btn btn-lg btn-success">Submit</button>
                <br>
                <br>
          </form>
          <!--form that provides ability to delete room-->
          <form id="delete-form" class="form" action="/room/<%= room._id %>/?_method=DELETE" method="POST">
            <button class="btn btn-lg btn-danger" type="submit" role="button" style="font-size:20px;">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--script providing ability to select an image for the room. -->
<script>
  //get all the elements
  var elements = document.getElementsByClassName('card-img-top');

  //set images
  for (var i = 0, length = elements.length; i < length; i++) 
  {
    if (elements[i].alt === "bathRoom") 
    {
      elements[i].src = "/images/roomImages/bathRoom.jpg";

    } else if (elements[i].alt === "bedRoom")
    {
      elements[i].src = "/images/roomImages/bedRoom.jpg";

    } else if (elements[i].alt === "airCon") 
    {
      elements[i].src = "/images/roomImages/kitchen.jpg";

    } else if (elements[i].alt === "livingRoom") 
    {
      elements[i].src = "/images/roomImages/livingRoom.jpg"
    } else if (elements[i].alt === "other") {
      elements[i].src = "/images/roomImages/other.jpg"
    }
  }
</script>