<% layout('layouts/boilerplate') -%>
<style>
   .grid-container {
   display: grid;
   padding: 40px;
   grid-template-columns: 150px 150px;
   justify-content: space-evenly;
   }
   .grid-item {
   padding: 10px;
   font-size: 20px;
   text-align: center;
   box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   
   .grid-item:hover {
    opacity: 0.78;
    cursor: pointer;
    text-decoration: none;
   }

   .crop {
   width: 100%;
   overflow: hidden;
   }

   .crop img {
   width: 100%;
   height: 100%;
   }
</style>
<div class="container">
   <% if(error && error.length > 0) { %>
   <div class="alert alert-danger" role="alert">
      <%= error %>
   </div>
   <% } %>
</div>
<% if(currentUser && currentUser.isHomeManager){ %>
<header class="jumbotron bg-warning">
   <h1 style="text-align:center;">Home Manager</h1>
</header>
<% } %>
<header class="jumbotron">
   <h1 style="text-align:center;">Rooms</h1>
</header>
<br>
<br>
<div>
   <!--ensures add room button hidden from child-->
   <% if(currentUser && (currentUser.accounttype === 'Adult' || currentUser.isHomeManager)){ %>
   <div style="display: grid; justify-content: center;">
      <a  href="/room/new" class="btn btn-lg btn-primary" 
      style="box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" 
      role="button">+ Add Room</a>
   </div>
   <% } %>
   <br>
<!--renders each room-->
   <% rooms.forEach(function(room){ %>

   <div class="col-sm-12" style="width:100%">
      <div class="card img-top img-fluid" style="width: 100%; max-width: 800px;">
         <div class="card-block" >
            <div class="card" style="width:70%; min-width:300px; background-color: #d3d3d3;
             box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <img class="card-img-top" src="<%= room.roomImage %>" alt="<%= room.roomImage %>">
               <div class="card-body">
                  <h5 class="card-title" style="font-size: 30px; text-align: center;"><%= room.roomName%></h5>
                  <hr class="style-two">
                  <script>
                     let type = '<%= room.roomImage %>';
                   </script>
                </div>
                <div class="grid-container">
                   <!--if statements change colour of buttons showing temperature, power, humidity and Co2-->
                  <% if((26 > room.roomTemperature) && (room.roomTemperature >= 18)){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 
                  50%; border-style: solid; border-color: green;">
                  <% } %>

                  <% if((room.roomTemperature >= 26) && (room.roomTemperature < 30)){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 
                  50%; border-style: solid; border-color: orange;">
                  <% } %>

                  <% if(room.roomTemperature >= 30){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 
                  50%; border-style: solid; border-color: red;">
                  <% } %>

                  <% if(room.roomTemperature < 18){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 
                  50%; border-style: solid; border-color: blue;">
                  <% } %>
                    <div class="card-body">
                      <i class="fas fa-temperature-low"></i><%= room.roomTemperature %>&#176;c 
                    </div>
                  </a>

                  <% if(room.roomHumidity < 55){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius:
                   50%; border-style: solid; border-color: green;">
                  <% } %>

                  <% if((room.roomHumidity >= 55) && (room.roomHumidity < 60)){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius:
                   50%; border-style: solid; border-color: orange;">
                  <% } %>

                  <% if((room.roomHumidity >= 60)){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats"
                   style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 
                   50%; border-style: solid; border-color: red;">
                  <% } %>
                     <div class="card-body">
                        <i class="fas fa-tint"> </i>  <%= room.roomHumidity %>%
                     </div>
                  </a>

                  <% if(room.roomCO2 < 400){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 
                  50%; border-style: solid; border-color: green;">
                  <% } %>

                  <% if((room.roomCO2 >= 400) && (room.roomCO2 < 1000)){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 
                  50%; border-style: solid; border-color: orange;">
                  <% } %>

                  <% if(room.roomCO2 >= 1000){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 
                  50%; border-style: solid; border-color: red;">
                  <% } %>

                     <div class="card-body">
                        <p style="font-size: 15px; font-weight: bolder;">CO2</p>
                        <p><%= room.roomCO2 %>p</p>
                     </div>
                  </a>

                  <% if(room.power < 200){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius:
                   50%; border-style: solid; border-color: green;">
                  <% } %>

                  <% if((room.power >= 200) && (room.power < 400)){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius:
                   50%; border-style: solid; border-color: orange;">
                  <% } %>

                  <% if(room.power >= 400){ %>
                  <a class="card text-white bg-dark mb-3 shadow-lg grid-item" href="/stats" 
                  style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 
                  50%; border-style: solid; border-color: red;">
                  <% } %>
                     <div class="card-body">
                        <i class="fas fa-bolt"> </i><p><%= room.power %>w</p>
                     </div>
                  </a>
                </div>
                <!--ensures edit room button hidden from child -->
                <% if(currentUser && (currentUser.accounttype === 'Adult' || currentUser.isHomeManager)){ %>
                     <div class="card-body" style="display: grid; justify-content:space-evenly;">
                        <a href="/room/<%= room._id%>/edit" class="btn btn-sm btn-warning" role="button"" 
                           style="font-size: 20px;">Edit Room</a>
                        <br>
                        <% } %>
                       <br>
                        <a href="/room/<%= room._id %>/devices" class="btn btn-sm btn-success" role="button" 
                           style="font-size: 20px;">Room Devices</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% }); %>
   </div>
   <br>
   <br>
</div>
</div>
<!--script allows room image to be selected-->
<script>
   //get all the elements
   var elements = document.getElementsByClassName('card-img-top');
   //set images
   for (var i = 0, length = elements.length; i < length; i++)
    {
     if(elements[i].alt === "bathRoom")
     {
       elements[i].src = "/images/roomImages/bathRoom.jpg";
     } else if (elements[i].alt === "bedRoom")
     {
       elements[i].src = "/images/roomImages/bedRoom.jpg";
     } else if (elements[i].alt === "kitchen")
     {
       elements[i].src = "/images/roomImages/kitchen.jpg";
     } else if (elements[i].alt === "livingRoom") 
     {
     elements[i].src = "/images/roomImages/livingRoom.jpg"
     } else if (elements[i].alt === "other") {
     elements[i].src = "/images/roomImages/other.jpg"
   }
}
 </script>