<div style="padding-right: 5%; padding-left: 5%;"></div>
<% layout('layouts/boilerplate') -%>

<style>
  .crop {
    width: 100%;
    height: 10%;
    overflow: hidden;
  }

  .crop img {
    width: 100%;
  }
</style>

<header class="jumbotron">
  <h1>Create a Room</h1>
</header> 

<div class="col-sm-12" style="width:100%">
  <div class="card img-top img-fluid" style="width: 50rem;">
    <div class="card-block">
      <div class="card"
        style="width: 70%; background-color: #d3d3d3; box-shadow: 0 8px 8px 0
         rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <img class="card-img-top" src="/images/roomImages/bedRoom.jpg" alt="Room Image" id="topCard">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 30px; text-align: center;">Room details</h5>
          <hr class="style-two">
          <!--form for creating a room-->
          <form class="form" action="/room" method="POST">
            <div style="justify-content: center; display: grid;"></div>
            <div style="padding-left: 10%; padding-right: 10%;">
              <strong><label class="mr-sm-2" for="inlineFormCustomSelect" style="text-align:center;">Room
                  Details</label></strong>
              <select name="roomImage" class="custom-select mr-sm-2" id="inlineFormCustomSelect" onclick="updatebox()">
                <!-- Change 'value' to link to whatever image you want to load by default -->
                <option value="bedRoom">Bedroom</option>
                <option value="livingRoom">Living Room</option>
                <option value="bathRoom">Bathroom</i></option>
                <option value="kitchen">Kitchen</option>
                <option value="other">Other</option>
              </select>
              <br><br>
              <!-- Need to ensure defualt value is the first option on list incase the user doesn't change it -->
              <input type="hidden" id="roomImage" name="" value="Bedroom" required>
              <label for="title"><b>Room Name</b></label>
              <input type="text" id="roomName" name="roomName" required>
              <br><br>
              <button class="btn btn-lg btn-success" type="submit">Submit</button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Updates the hidden roomImage box-->
<script>
  function updatebox()
  { 
  

    var dropdown = document.getElementById("inlineFormCustomSelect");
    var link = dropdown.options[dropdown.selectedIndex].value;
    var image = document.getElementById("topCard");

    console.log(link);

    //Update these values to change what the default images are for each device 
    let bedRoom = "bedRoom";
    let livingRoom = "livingRoom";
    let bathRoom = "bathRoom";
    let kitchen = "kitchen";
    let other = "other";

    //Sets the default image to the device 
    //update image for the card
    if (link === bedRoom)
     {
      document.getElementById('roomImage').value = bedRoom;
      image.src = "/images/roomImages/bedRoom.jpg";
     }
    if (link === livingRoom) 
    {
      document.getElementById('roomImage').value = livingRoom;
      image.src = "/images/roomImages/livingRoom.jpg";
    }
    if (link === bathRoom) 
    {
      document.getElementById('roomImage').value = bathRoom;
      image.src = "/images/roomImages/bathRoom.jpg";
    }
    if (link === kitchen) 
    {
      document.getElementById('roomImage').value = kitchen;
      image.src = "/images/roomImages/kitchen.jpg"
    }
    if (link === other) 
    {
      document.getElementById('roomImage').value = other;
      image.src = "/images/roomImages/other.jpg"
    }
  }
</script>