<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js">
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    body {
      background-color: white;
      padding: 0px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark" style="padding-left: 7%; padding-right: 7%; text-align: center;">
    <a class="navbar-brand toplogo" href="/" style="font-weight: bold; font-size: 30px;">Taka</a>
    <a href="/account/<%= currentUser._id %>" style="margin-left: -3%;"><img src="<%= currentUser.userAvatar %>"
        alt="<%= currentUser.userAvatar %>" class="avatar" </a>
      <h5 id="signedIn" style="color: white;"><%= currentUser.username %></h5>
     <!--ensures only home manager sees the edit users and home manager stats buttons-->
      <% if(currentUser && currentUser.isHomeManager){ %>
      <a class="nav-item nav-link" href="/homemanager" style="color: white; font-size: 20px;">Edit Users</a>
      <a class="nav-item nav-link" href="/homemanagerstats" style="color: white; font-size: 20px;">Home Manager
        Stats</a>
      <%  }  %>
      <a href="/logout"><i class="fas fa-sign-out-alt fa-3x"></i></a>
      </div>
      </div>
  </nav>
  <br>
  <br>
  <% if(success && success.length > 0){ %>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
  <% } %>
  <%- body -%>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>


<script>
  //get all the elements
  var elements = document.getElementsByClassName('avatar');

  //set images
  for (var i = 0, length = elements.length; i < length; i++) 
  {
    if (elements[i].alt === "man1") 
    {
      elements[i].src = "/images/profilePictures/man1.jpg";
    } else if (elements[i].alt === "man2")
    {
      elements[i].src = "/images/profilePictures/man2.jpg";
    } else if (elements[i].alt === "women1") 
    {
      elements[i].src = "/images/profilePictures/women1.jpg";
    } else if (elements[i].alt === "women2") 
    {
      elements[i].src = "/images/profilePictures/women2.jpg"
    } else if (elements[i].alt === "childBoy") 
    {
      elements[i].src = "/images/profilePictures/childBoy.jpg"
    } else if (elements[i].alt === "childGirl") 
    {
      elements[i].src = "/images/profilePictures/childGirl.jpg"
    }
  }
</script>