/* CSS from https://nicolaskadis.info/posts/pure-css-flip-cards-using-bootstrap-4-and-css-grid-no-js */

.card-container {
    perspective: 700px;
  }
  
  .card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  .card-container:hover .card-flip {
    transform: rotateY(180deg);
  }
  .card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  
  .front {
    grid-area: frontAndBack;
    
  }
  
  .back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
  }

  .card-container {
    display: grid;
    perspective: 700px;
  }

  .card-img-top{
   
 
    height:100%;
    width:100%;
    border:none;
  }

 
  