body{
    background: #fff;
  }
  .box {
    transition: box-shadow .3s;
    width: 300px;
    height: 500px;
    margin: 50px;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    
  }
  .box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

  .grid-container {
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-evenly;
  }

  .grid-item {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .chart-container {
    width: 25%;
  }

  .card:hover {
    opacity: 0.78;
    cursor: pointer;
    text-decoration: none;
  }
  .callout {
    position: fixed;
    bottom: 35px;
    right: 20px;
    margin-left: 20px;
    max-width: 350px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .callout-header {
    padding: 25px 15px;
    background: #555;
    font-size: 30px;
    color: white;
  }

  .callout-container {
    padding: 15px;
    background-color: #ccc;
    color: black
  }

  .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

  .closebtn:hover {
    color: lightgrey;
  }