body {
  padding: 50px;
  font: 14px "Raleway",  Helvetica, Arial, sans-serif;
  background-color: #b5b5bd;
}

a {
  color: #00B7FF;
}
.toplogo {
  margin-top: 5px;
  margin-bottom: 5px;
}

.toplogo img {
  height : 30%;
  width : 30%;
  border-radius: 10%;
}

.welcomeMessage{
  padding: 30px;
  text-align: center;
}

.mainphoto {
  width: 100%;
  
}

.bigLogo{
  border-radius: 5%;
  margin-bottom: 30px;
}

.fa-user-circle{
  color:white;
}







* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.card{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  border:none;
  
}

.jumbotron{
  text-align: center;
  padding:2rem 2rem;
}

.color-green{
  color:green;
}

.color-red{
  color:red;
}

.form{
  border: none;
}
/* Gradient transparent - color - transparent */

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.container-fluid{
  padding-right: 0;
  padding-left: 0;
}

.delete-button{
  width:60px;
  padding:6px;
  
}

#delete-form{
  display:inline;
}

#cardComment{
  margin-left: 3%;
  margin-right: 3%;
}

#indexCard{
  width: 100%;
  height: 40vw;
  object-fit: cover;
}

#signedIn{
  margin-top:.5rem;
}


.delete-button-small{
  width:60px;
  padding:4px;
  
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  text-align: right;
}

.homePageImage{
  width:100%;
  height:50%;
}

.chart-container{

  width:10;
  height:10;

}