<% layout('layouts/boilerplate') -%>
<header class="jumbotron">
  <h1>Edit Device</h1>
</header>
<style>
  .crop {
      width: 100%;
      height: 10%;
      overflow: hidden;
      }
    
    .crop img {
    width: 100%;
    }
</style>

<!--form for editing a device-->
<form class="form" action="/room/<%= room._id %>/devices/<%= foundDevice._id %>?_method=PUT" method="POST">
  <div class="col-sm-12" style="width:100%">
    <div class="card img-top img-fluid" style="width: 50rem;">
      <div class="card-block">
        <div class="card"
          style="width: 70%; background-color: #d3d3d3; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <img class="card-img-top" src="<%= foundDevice.deviceImage %>" alt="<%= foundDevice.deviceType %>">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 30px; text-align: center;"><%= foundDevice.deviceName%></h5>
            <hr class="style-two">
            <form class="form" action="/room/<%= room._id %>/devices/<%= foundDevice._id %>?_method=PUT" method="POST">
              <div style="justify-content: center; display: grid;">
                <div style="padding-left: 10%; padding-right: 10%;">
                  <label for="device">
                    <h5><b>Device Name</b></h5>
                  </label>
                  <input type="text" id="device" name="device[deviceName]" value="<%= foundDevice.deviceName %>"
                    required>
                  <br><br>
                  <button class="btn btn-lg btn-success">Submit</button>
                  <br>
                  <br>
            </form>
              <form id="delete-form" class="form" action="/room/<%= room._id %>/?_method=DELETE" method="POST">
              <button class="btn btn-lg btn-danger" type="submit" role="button" style="font-size:20px;">Delete</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<br>

<script>
  //get all the elements
  var elements = document.getElementsByClassName('card-img-top');

  //set images
  for (var i = 0, length = elements.length; i < length; i++) {
    if (elements[i].alt === "light") {
      elements[i].src = "/images/deviceImages/defaultLight.jpg";
    } else if (elements[i].alt === "tv") {
      elements[i].src = "/images/deviceImages/defaultTv.jpg";
    } else if (elements[i].alt === "airCon") {
      elements[i].src = "/images/deviceImages/defaultAc.jpg";
    } else if (elements[i].alt === "other") {
      elements[i].src = "/images/deviceImages/defaultOther.jpg"
    }
  }
</script>