<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
   .crop {
   width: 100%;
   height: 300px;
   overflow: hidden;
   }

   .crop img {
   width: 100%;
   }
</style>


<header class="jumbotron">
  <h1>Add Device</h1>
</header>

<!--form for adding a new device-->
<form class="form" action="/room/<%= room._id %>/devices" method="POST">
  <div class="col-sm-12" style="width:100%">
    <div class="card img-top img-fluid" style="width: 50rem;">
      <div class="card-block">
        <div class="card"
          style="width: 70%; background-color: #d3d3d3; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <img class="card-img-top" src="/images/deviceImages/defaultLight.jpg" alt="card""  id="topCard">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 30px; text-align: center;">Device details</h5>
            <hr class="style-two">
            <div style="justify-content: center; display: grid;"></div>
            <div style="padding-left: 10%; padding-right: 10%;">
                <strong><label class="mr-sm-2" for="inlineFormCustomSelect" style="text-align:center;">Device
                    Type</label></strong>
                <select name="device[deviceType]" class="custom-select mr-sm-2" id="inlineFormCustomSelect"
                  onclick="updatebox()">
                  <!-- Change 'value' to link to whatever image you want to load by default -->
                  <option value="light">Light<i class="fas fa-lightbulb"></i></option>
                  <option value="tv">TV<i class="fas fa-tv"></i></option>
                  <option value="airCon">AirCon<i class="fas fa-snowflake"></i></option>
                  <option value="other">Other<i class="fas fa-bolt"></i></option>
                </select>
            <!-- Need to ensure defualt value is the first option on list incase the user doesn't change it -->
            <input type="hidden" id="deviceImage" name="device[deviceImage]" value="light" required>
              <label for="device">
                <h5><b>Device Name</b></h5>
              </label>
              <input type="text" id="device" name="device[deviceName]" required>
              <button class="btn btn-lg btn-success" type="submit" style="width: 50%; margin-left: 25%;">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<br>

 <!-- Updates the hidden linkHolder box-->
 <script>
  function updatebox() 
  {
    var dropdown = document.getElementById("inlineFormCustomSelect");
    var link = dropdown.options[dropdown.selectedIndex].value;
    var image = document.getElementById("topCard");

    console.log(link);

    //Update these values to change what the default images are for each device 
    let light = "light";
    let tv = "tv";
    let ac = "airCon";
    let other = "other";

    //Sets the default image to the device 
    //update image for the card
    if (link === light) 
    {
      document.getElementById('deviceImage').value = light;
      image.src = "/images/deviceImages/defaultLight.jpg";
    }
    if (link === tv) 
    {
      document.getElementById('deviceImage').value = tv;
      image.src = "/images/deviceImages/defaultTv.jpg";
    }
    if (link === ac)
    {
      document.getElementById('deviceImage').value = ac;
      image.src = "/images/deviceImages/defaultAc.jpg";
    }
    if (link === other)
    {
      document.getElementById('deviceImage').value = other;
      image.src = "/images/deviceImages/defaultOther.jpg"
    }
  }
</script>