<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<% layout('layouts/boilerplate') -%>

<div class="w3-animate-opactiy">
  <header class="jumbotron">
    <h1><%= foundRoom.roomName %> Devices</h1>
    <link rel="stylesheet" href="/stylesheets/device.css">
    <style>
      .grid-container {
        display: flex;
        flex-wrap: wrap;
      }

      input:hover {
        cursor: pointer;
      }
      .input:hover{
        cursor: pointer;
      }

      .crop {
        width: 100%;
        height: 400px;
        overflow: hidden;
      }

      .crop img {
        width: 100%;
      }
    </style>
  </header>

  <!--ensures child can't see add device button-->
  <% if(currentUser && (currentUser.accounttype === 'Adult' || currentUser.isHomeManager)) { %>
  <div style="display: grid; justify-content: space-evenly;">
    <a class="btn btn-lg btn-primary" href="/room/<%= foundRoom._id %>/devices/new">+ Add Device</a>
  </div>
  <% } %>
  <br>
<!--ensures only devices associated with the current room are rendered-->
  <% foundRoom.devices.forEach(function(device){ %>
    <div class="col-sm-12" style="width:100%">
      <div class="card img-top img-fluid" style="width: 50rem;">
        <div class="card-block">
          <div class="card"
            style="width: 70%; background-color: #d3d3d3; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <img class="card-img-top" src="<%= device.deviceImage %>" alt="<%= device.deviceType %>">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 30px; text-align: center;"><%= device.deviceName%></h5>
              <hr class="style-two">
              <script>
                let type = '<%= device.deviceImage %>';
              </script>

              <!--ensures device controls are hidden from child-->
               <% if(currentUser && (currentUser.accounttype === 'Adult' || currentUser.isHomeManager)) { %>

              <!-- This is were we control the state of the device by submitting a form-->
              <form class="form" action="/room/<%= foundRoom._id %>/devices/<%= device._id %>?_method=PUT" method="POST"
                style="background-color: #d3d3d3;">

                <!-- Displaying based on device status -->
                <% if (device.switchedOn === true) { %>
                <input type="hidden" value="false" id="device" name="device[switchedOn]" value="<%= device.switchedOn %>"
                  required>
                <button class="btn btn-primary card text-white bg-dark mb-3 shadow-lg grid-item" style="width: 8rem; height: 8rem; border-radius: 
                    50%; border-style: solid; border-color: lightgreen; border-width: 4px; box-shadow: 0 8px 8px 0
                     rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding-left: 33px; justify-content: center;">
                  <i class="fas fa-power-off fa-3x text-align: center;"></i>
                </button>
                <% } %>
                <!--device is aircon and switched on render the aircon temperature control slider-->
                <% if ((device.deviceType === 'airCon')&&(device.switchedOn === true)) { %>
                <div style="display: grid; justify-content: space-evenly;">
                  <div class="bg-dark"
                    style="box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px; width: 100%; padding: 10px;">
                    <div style="display: grid; justify-content: center;">
                      <p id="temp" style="color: white; font-size: 30px;">23&#176;C</p>
                    </div>
                    <div class="d-flex justify-content-center my-4 bg-dark"
                      style="height: 40px; border-radius: 10px; border-top: 0px;">
                      <span class="font-weight-bold indigo-text mr-2 mt-1" style="padding-top: 6px;"><i
                          class="fas fa-snowflake" style="color: white;"></i></span>
                      <form class="range-field my-5">
                        <input id="calculatorSlider" class="no-border" type="range" value="23" min="16" max="30" />
                      </form>
                      <span class="font-weight-bold indigo-text ml-2 mt-1" style="padding-top: 5px;"><i
                          class="fas fa-fire" style="color:white"></i></span>
                    </div>
                  </div>
                </div>
                <% } %>
                <!--device is light and turned on render the brightness control slider-->
                <% if ((device.deviceType === 'light')&&(device.switchedOn === true)) { %>
                <div style="display: grid; justify-content: space-evenly;">
                  <div class="d-flex justify-content-center my-4 bg-dark"
                    style="height: 40px;box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;">
                    <span class="font-weight-bold indigo-text mr-2 mt-1" style="padding-top: 6px; color: white;">0</span>
                    <form class="range-field w-25">
                      <input class="border-0" type="range" min="0" max="100" />
                    </form>
                    <span class="font-weight-bold indigo-text ml-2 mt-1" style="padding-top: 5px;"><i
                        class="far fa-lightbulb" style="color:white"></i></span>
                  </div>
                </div>
                <% } %>  
                <!--device is tv and turned on render tv channel controls -->
                <% if ((device.deviceType === 'tv')&&(device.switchedOn === true)) { %>
                <div style="display: grid; justify-content: center;">
                  <div class="d-flex justify-content-center my-4 bg-dark"
                    style="height: 40px;box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px; height: 70px;">
                    <a id="channelInc" class="fas fa-arrow-alt-circle-up input" style="color: white; font-size: 30px; margin: 20px;"></a>
                    <div style="display: grid; justify-content: center;">
                      <p id="channel" style="background-color: white; margin: 5px; border-radius: 10px; font-size: 20px; text-align: center; margin:20px;">
                        100
                      </p>
                    </div>
                    <a id="channelDec" class="fas fa-arrow-alt-circle-down input" style="color: white; font-size: 30px; margin: 20px;"></a>
                  </div>
                </div>
                <% } %>
                <!--device is turned off render power button as off and red-->
                <% if(device.switchedOn === false) { %>
                <input type="hidden" value="true" id="device" name="device[switchedOn]" value="<%= device.switchedOn %>"
                  required>
                <button class="btn btn-primary card text-white bg-dark mb-3 shadow-lg grid-item" style="width: 8rem; height: 8rem; justify-content: center; border-radius: 50%; 
                    border-style: solid; border-color: red; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
                     rgba(0, 0, 0, 0.19); padding-left: 33px;">
                  <i class="fas fa-power-off fa-3x"></i>
                </button>
                <% } %>
              </form>
              </ul>
              <% } %> 
              <!--ensures edit and delete device buttons hidden for child-->
              <% if(currentUser && (currentUser.accounttype === 'Adult' || currentUser.isHomeManager)) { %>
              <div class="card-body" style="background-color: #d3d3d3; display: grid; justify-content: space-evenly;">
  
                <a class="btn btn-sm btn-warning" style="font-size: 20px;"
                  href="/room/<%= foundRoom._id %>/devices/<%= device._id %>/edit">Edit</a>
                <br>
                <form id="delete-form" class="form"
                  action="/room/<%= foundRoom._id %>/devices/<%=device._id %>?_method=DELETE" method="POST">
                  <button type="submit" style="font-size: 20px;" class="btn btn-sm btn-danger ">Delete</button>
                </form>
                <% } %>   
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <% }) %>   
  <br>
  <br>

  <script>
  //get all the elements
  var elements = document.getElementsByClassName('card-img-top');
  //set images
  for (var i = 0, length = elements.length; i < length; i++) 
  {
    if(elements[i].alt === "light")
    {
      elements[i].src = "/images/deviceImages/defaultLight.jpg";
    
    } else if (elements[i].alt === "tv")
    {
      elements[i].src = "/images/deviceImages/defaultTv.jpg";
    
    } else if (elements[i].alt === "airCon")
    {
      elements[i].src = "/images/deviceImages/defaultAc.jpg";
    
    } else if (elements[i].alt === "other") 
    {
    elements[i].src = "/images/deviceImages/defaultOther.jpg"
    }
  }
  </script>

  <script>
    var slider = document.getElementById("calculatorSlider");
    var output = document.getElementById("temp");
    
    var inc = document.getElementById("channelInc");
    var dec = document.getElementById("channelDec");
    var channel = document.getElementById("channel");

    output.innerHTML = slider.value + "&#176;C"; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function () 
  {
    output.innerHTML = this.value + "&#176;C";
  }

  inc.onclick = function () 
  {
    if(Number(channel.innerHTML) < 500){
      channel.innerHTML = Number(channel.innerHTML) + 1;
    }
  }

  dec.onclick  = function () 
  {
    if(Number(channel.innerHTML) > 0){
      channel.innerHTML = Number(channel.innerHTML) - 1;
    }
  }

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function () 
  {
    output.innerHTML = this.value + "&#176;C";
  }
  </script>






 
