<% layout('layouts/boilerplate') -%>
<style>
  .flex-container {
    display: grid;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }
  
  .flex-container > div {
    background-color: #d3d3d3;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin-bottom: 20px;
    line-height: 75px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

</style>
<header class="jumbotron">
<h1>Energy Generation Devices</h1>
</header>
<div class="flex-container">
<div class="chart-container">
<canvas id="myChart"></canvas>
</div>

<!--Chart.js javascript for power generation vs power consumption doughnut -->
<script>
  async function chartIt() 
  {
    let myChart = document.getElementById("myChart").getContext('2d');
    let chart = new Chart(myChart, 
    {
      responsive: true,
      type: 'doughnut',
      data: {
        labels: ["Power usage", "Power generation"],
        datasets: [
          {

            label: "Power",
            data: ['<%= powerUsage %>',
              '<%= powerGeneration %>',
            ],
            backgroundColor: ["#f72323", "#23f72e"],

          }
        ]
      },
      options: {
        title: {
          display: true,

        },
        legend: {
            labels: {
                // This more specific font property overrides the global property
                fontSize: 18
            }
        }
      }
    });
  }

  chartIt();

</script>
<!--renders generation devices-->
<% genDevices.forEach(function(gendevice){ %>
<div class="card img-top img-fluid" >
  <div class="card-block">
    <div class="card" style="width: 100%;">
      <img class="card-img-top" src="/images/genDeviceImages/solarPannel.jpg" alt="Device Image" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
      <div class="card-body" style="background-color: #d3d3d3;">
        <h5 class="card-title" style="font-size: 30px; text-align: center;"><%= gendevice.deviceName%></h5>
        <hr class="style-two">
      </div>
      <div style="background-color: #d3d3d3;">
        <% if(gendevice.powerGeneration < 200){ %>
          <div class="card text-white bg-dark mb-3 shadow-lg grid-item" style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 50%; border-style: solid; border-color: red;  display: grid; justify-content: space-evenly;">
        <% } %>

        <% if((gendevice.powerGeneration >= 200) && (gendevice.powerGeneration < 400)){ %>
          <div class="card text-white bg-dark mb-3 shadow-lg grid-item" style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 50%; border-style: solid; border-color: orange; display: grid; justify-content: space-evenly;">
        <% } %>

        <% if(gendevice.powerGeneration >= 400){ %>
          <div class="card text-white bg-dark mb-3 shadow-lg grid-item" style="width: 8rem; height: 8rem; justify-content: space-evenly; border-radius: 50%; border-style: solid; border-color: green;  display: grid; justify-content: space-evenly;">
        <% } %>
           <div class="card-body">
              <i class="fas fa-bolt"> </i><%= gendevice.powerGeneration %>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% }); %>
</div>