<% layout('layouts/boilerplate') -%>
<!--edit form for home managers to edit user accounts-->
<form class="form" action="/homemanager/<%= user.id %>?_method=PUT" method="POST">
  <header class="jumbotron">
    <h1 class="text-center">Edit User</h1>
  </header>

  <body onload="setImg()">  
  <div class="col-sm-12" style="width:100%">
    <div class="card img-top img-fluid" style="width: 50rem;">
      <div class="card-block">
        <div class="card"
          style="width: 70%; background-color: #d3d3d3; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <div class="crop">
            <img class="card-img-top" src="<%= user.userAvatar %>" alt="<%= user.userAvatar %>">
          </div>
          <div class="card-body">
            <label for="avatar"><b>Avatar</b></label>
              <select name="user[userAvatar]" class="custom-select mr-sm-2" id="avatar" onclick="updatebox()">
                <!-- Change 'value' to link to whatever image you want to load by default -->
                <option value="man1">Man 1</option>
                <option value="man2">Man 2</option>
                <option value="women1">Women 1</i></option>
                <option value="women2">Women 2</option>
                <option value="childBoy">Child Boy</option>
                <option value="childGirl">Child Girl</option>
              </select>
              <br><br>
              <label for="accounttype"><b>Account Level</b></label>
              <select name="user[accounttype]" class="custom-select mr-sm-2" id="accounttype">
                <!-- Change 'value' to link to whatever image you want to load by default -->
                <option value="Adult">Adult</option>
                <option value="Child">Child</option>
              </select>
            
           <!--script to allow a user avatar image to be chosen-->
            <script>
            //Get current avatar to do loading checks
            let type = '<%= user.userAvatar %>';

            //Finding the current image for the user and setting it
                function setImg() 
                {
                  var elements = document.getElementsByClassName('card-img-top');
                  for (var i = 0, length = elements.length; i < length; i++) 
                  {
                    if (type === "man1") 
                    {
                      elements[i].src = "/images/profilePictures/man1.jpg";
                    } else if (type === "man2") 
                    {
                      elements[i].src = "/images/profilePictures/man2.jpg";
                    } else if (type === "women1") 
                    {
                      elements[i].src = "/images/profilePictures/women1.jpg";
                    } else if (type === "women2") 
                    {
                      elements[i].src = "/images/profilePictures/women2.jpg";
                    } else if (type === "childBoy") 
                    {
                      elements[i].src = "/images/profilePictures/childBoy.jpg"
                    } else if (type === "childGirl") 
                    {
                      elements[i].src = "/images/profilePictures/childGirl.jpg"
                    }
                  }
                }
              </script>

            <label for="email"><b>Email</b></label>
            <input type="email" id="email" value="<%= user.email %>" name="user[email]" required>

            <label for="username"><b>Username</b></label>
            <input type="text" id="username" value="<%= user.username %>" name="user[username]" required>

            <label for="userFirstName"><b>First Name</b></label>
            <input type="text" id="firstname" value="<%= user.userFirstName %>" name="user[userFirstName]" required>

            <label for="lastname"><b>Last Name</b></label>
            <input type="text" id="lastname" value="<%= user.userLastName %>" name="user[userLastName]" required>
            <br><br>
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</form>


<script>
  function updatebox() {
    //Sets image to be submitted to the database and updates the image being currently displayed on the card
    var elements = document.getElementsByClassName('card-img-top');
    var dropdown = document.getElementById("avatar");
    var link = dropdown.options[dropdown.selectedIndex].value;

    for (var i = 0, length = elements.length; i < length; i++) {
      if (link === "man1") {
        elements[i].src = "/images/profilePictures/man1.jpg";
        type.src = "/images/profilePictures/man1.jpg";
      } else if (link === "man2") {
        elements[i].src = "/images/profilePictures/man2.jpg";
        type.src = "/images/profilePictures/man2.jpg";
      } else if (link === "women1") {
        elements[i].src = "/images/profilePictures/women1.jpg";
        type.src = "/images/profilePictures/women1.jpg";
      } else if (link === "women2") {
        elements[i].src = "/images/profilePictures/women2.jpg"
        type.src = "/images/profilePictures/women2.jpg";
      } else if (link === "childBoy") {
        elements[i].src = "/images/profilePictures/childBoy.jpg";
        type.src = "/images/profilePictures/childBoy.jpg";
      } else if (link === "childGirl") {
        elements[i].src = "/images/profilePictures/childGirl.jpg";
        type.src = "/images/profilePictures/childGirl.jpg";
      }
    }

  }
</script>