<% layout('layouts/boilerplate') -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>

    //Parse to allow access to JSOn data
    var arrayContent = '<%- data  %>';
    var arrContentJson = JSON.parse(arrayContent);

    let tempratureArr = []
    let humidityArr = []
    let c02Arr = []
    let powerArr = []

    function addValuesToArrays() 
    {
        for (var i = 0; i < 24; i++) 
        {
            tempratureArr.push(arrContentJson[i].temperature);
            humidityArr.push(arrContentJson[i].humidity);
            c02Arr.push(arrContentJson[i].CO2Levels);
            powerArr.push(arrContentJson[i].power)
        }
    }

    addValuesToArrays();

    console.log(tempratureArr)
    console.log(humidityArr)
    console.log(c02Arr)

</script>

<style>
    .flex-container 
    {
        display: flex;
        flex-wrap: wrap;
        padding-left: 8%;
        margin-bottom: 5%;
    }

    .flex-container>div 
    {
        background-color: #d3d3d3;
        width: 45%;
        min-width: 500px;
        margin: 10px;
        line-height: 75px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
    }
</style>


<div class="flex-container">
    <div class="chart-container">
        <canvas id="tempChart"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="humidChart"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="c02Chart"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="powerChart"></canvas>
    </div>

<!--chart.js script to provide home manager specific charts-->
    <script>
        async function chartIt(array, barTitle, colour, chartTitle, chartTo, yAxes)
         {

            let myChart = document.getElementById(chartTo).getContext('2d');

            let chart = new Chart(myChart, 
            {
                responsive: true,
                type: 'bar',
                data: 
                {
                    labels: ["Week 1", "Week 2", "Week 3", "Week 4", "Week 5", "Week 6", "Week 7", "Week 8", "Week 9", "Week 10",
                        "Week 11", "Week 12", "Week 13", "Week 14", "Week 15", "Week 16", "Week 17", "Week 18", "Week 19", "Week 20",
                        "Week 21", "Week 22", "Week 23", "Week 24", "Week 25", "Week 26", "Week 27", "Week 28", "Week 29", "Week 30",
                        "Week 31", "Week 32", "Week 33", "Week 34", "Week 35", "Week 36", "Week 37", "Week 38", "Week 39", "Week 40",
                        "Week 41", "Week 42", "Week 43", "Week 44", "Week 45", "Week 46", "Week 47", "Week 48", "Week 49", "Week 50",
                        "Week 51", "Week 52"],
                    datasets: 
                    [
                        {
                        data: array,
                        label: barTitle,
                        backgroundColor: colour,
                        fill: false,
                        //Adjust these to change the size of the pointers (the blue circles that display the exact value)
                        pointRadius: 8,
                        pointHoverRadius: 8,
                        },
                    ]
                },
                //Options for the chart this is where you can customzie it 
                options: 
                {
                    responsive: true,
                    title: 
                    {
                        display: true,
                        text: chartTitle,
                        fontSize:25
                    },
                    scales: 
                    {
                        yAxes: 
                        [
                        {
                            ticks: 
                            {
                                beginAtZero: true,
                                fontSize: 16
                            },
                                scaleLabel: 
                            {
                                display: true,
                                labelString: yAxes,
                                fontSize: 18
                            }
                        }
                        ]
                    },
                }
            });
        }

        chartIt(tempratureArr, "Temperature", "blue", "Temperature", "tempChart", "Temprature (°C)");
        chartIt(humidityArr, "Humidity", "green", "Humidity", "humidChart", "Humdidity (%)");
        chartIt(c02Arr, "C02", "purple", "C02", "c02Chart", "C02 (PPM)");
        chartIt(powerArr, "Power Generation", "yellow", "Power Generation", "powerChart", "Power Usage (Watts)");



    </script>