<% layout('layouts/boilerplate') -%>


<header class="jumbotron">
  <h1>Users</h1>
</header>

<!--renders all users so home manager can see their details-->
<% users.forEach(function(user){ %>
<!--ensures the home manager details isn't included in this section-->
<% if(!user.isHomeManager){ %>

<div class="col-sm-12" style="width:100%">
  <div class="card img-top img-fluid" style="width: 50rem;">
    <div class="card-block">
      <div class="card"
        style="width: 70%; background-color: #d3d3d3; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="crop">
          <img class="card-img-top" src="<%= user.userAvatar %>" alt="<%= user.userAvatar %>">
        </div>
        <div class="card-body">
          <label><b>User Name:</b></label>
          <h5 class="card-title"><%= user.username %></h5>
          <Label><b>Account type</b></Label>
          <h5 class="card-title"><%= user.accounttype %></h5>
          <label><b>First Name:</b></label>
          <h5 class="card-title"><%= user.userFirstName %></h5>
          <label><b>Last Name:</b></label>
          <h5 class="card-title"><%= user.userLastName %></h5>
          <label><b>Email:</b></label>
          <h5 class="card-title"><%= user.email %></h5>
          <div class="text-left">
            <a class="btn btn-warning" href="/homemanager/<%= user._id %>/edit">Edit</a>
            <form id="delete-form" action="/homemanager/<%= user._id %>?_method=DELETE" method="POST"
              style="border:none;">
              <button class="btn btn-danger delete-button" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <% }); %>



  <script>
    //get all the elements
    var elements = document.getElementsByClassName('card-img-top');

    //set images
    for (var i = 0, length = elements.length; i < length; i++) {
      if (elements[i].alt === "man1") {
        elements[i].src = "/images/profilePictures/man1.jpg";
      } else if (elements[i].alt === "man2") {
        elements[i].src = "/images/profilePictures/man2.jpg";
      } else if (elements[i].alt === "women1") {
        elements[i].src = "/images/profilePictures/women1.jpg";
      } else if (elements[i].alt === "women2") {
        elements[i].src = "/images/profilePictures/women2.jpg"
      } else if (elements[i].alt === "childBoy") {
        elements[i].src = "/images/profilePictures/childBoy.jpg"
      } else if (elements[i].alt === "childGirl") {
        elements[i].src = "/images/profilePictures/childGirl.jpg"
      }

    }

  </script>