<% layout('layouts/boilerplate') -%>
<!--form for updating user details-->
<form class="form" action="/account/<%= currentUser.id %>?_method=PUT" method="POST" id="update-account">
  <header class="jumbotron">
    <h1>Edit Profile</h1>
  </header>

  <body onload="setImg()">
    <div class="col-sm-12" style="width:100%">
      <div class="card img-top img-fluid" style="width: 50rem;">
        <div class="card-block">
          <div class="card"
            style="width: 70%; background-color: #d3d3d3; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <img class="card-img-top" src="<%= currentUser.userAvatar %>" alt="<%= currentUser.userAvatar %>">
            <div class="card-body">

              <script>
                //Get current avatar to do loading checks
                let type = '<%= currentUser.userAvatar %>';

                //Finding the current image for the user and setting it
                function setImg() {
                  var elements = document.getElementsByClassName('card-img-top');

                  for (var i = 0, length = elements.length; i < length; i++) {

                    if (type === "man1") {
                      elements[i].src = "/images/profilePictures/man1.jpg";
                    } else if (type === "man2") {
                      elements[i].src = "/images/profilePictures/man2.jpg";
                    } else if (type === "women1") {
                      elements[i].src = "/images/profilePictures/women1.jpg";
                    } else if (type === "women2") {
                      elements[i].src = "/images/profilePictures/women2.jpg";
                    } else if (elements[i].alt === "childBoy") {
                      elements[i].src = "/images/profilePictures/childBoy.jpg"
                    } else if (elements[i].alt === "childGirl") {
                      elements[i].src = "/images/profilePictures/childGirl.jpg"
                    }
                  }
                }
              </script>

              <label for="avatar"><b>Avatar</b></label>
              <select name="userAvatar" class="custom-select mr-sm-2" id="avatar" onclick="updatebox()">
                <!-- Change 'value' to link to whatever image you want to load by default -->
                <option value="man1">Man 1</option>
                <option value="man2">Man 2</option>
                <option value="women1">Woman 1</option>
                <option value="women2">Woman 2</option>
                <option value="childBoy">Child Boy</option>
                <option value="childGirl">Child Girl</option>
              </select>
              <br>
              <br>

              <label for="email"><b>Email</b></label>
              <input type="email" id="email" value="<%= currentUser.email %>" name="email" required>

              <label for="current-password"><b>Current Password</b></label>
              <input type="password" id="current-password" placeholder="Current Password" name="currentPassword"
                required>

              <label for="new-password"><b>New Password</b></label>
              <input type="password" id="new-password" placeholder="New Password" name="newPassword">

              <label for="confirm-new-password"><b>Confirm New Password</b></label>
              <input type="password" id="confirm-password" placeholder="Confirm New Password"
                name="confirmationPassword">
              <div id="validation-message"></div>

              <label for="userFirstName"><b>First Name</b></label>
              <input type="text" id="firstname" value="<%= currentUser.userFirstName %>" name="userFirstName" required>

              <label for="lastname"><b>Last Name</b></label>
              <input type="text" id="lastname" value="<%= currentUser.userLastName %>" name="userLastName" required>

              <br><br>
              <button type="submit" class="btn btn-success">Update</button>
            </div>
</form>
<script src="/javascripts/account.js"></script>
</div>
</div>
</div>
</div>
</div>
</div>

<script>
  function updatebox() {
    //Sets image to be submitted to the database and updates the image being currently displayed on the card
    var elements = document.getElementsByClassName('card-img-top');
    var dropdown = document.getElementById("avatar");
    var link = dropdown.options[dropdown.selectedIndex].value;

    for (var i = 0, length = elements.length; i < length; i++) {
      if (link === "man1") {
        elements[i].src = "/images/profilePictures/man1.jpg";
        type.src = "/images/profilePictures/man1.jpg";
      } else if (link === "man2") {
        elements[i].src = "/images/profilePictures/man2.jpg";
        type.src = "/images/profilePictures/man2.jpg";
      } else if (link === "women1") {
        elements[i].src = "/images/profilePictures/women1.jpg";
        type.src = "/images/profilePictures/women1.jpg";
      } else if (link === "women2") {
        elements[i].src = "/images/profilePictures/women2.jpg";
        type.src = "/images/profilePictures/women2.jpg";
      } else if (link === "childBoy") {
        elements[i].src = "/images/profilePictures/childBoy.jpg";
        type.src = "/images/profilePictures/childBoy.jpg";
      } else if (link === "childGirl") {
        elements[i].src = "/images/profilePictures/childGirl.jpg";
        type.src = "/images/profilePictures/childGirl.jpg";
      }
    }

  }
</script>