<% layout('layouts/boilerplate') -%>

<!--determines if logged in user is a home manager or not and displays a jumbotron if they are. -->
<% if(!currentUser.isHomeManager){ %>
<header class="jumbotron">
    <h1>User Profile</h1>
    </header>
    <% } else { %>
      <header class="jumbotron">
        <h1>Home Manager Profile</h1>
        </header>

      <% } %>
           <!--provides user account details-->
            <div class="col-sm-12" style="width:100%">
              <div class="card img-top img-fluid" style="width: 50rem;">
                <div class="card-block">
                  <div class="card"
                    style="width: 70%; background-color: #d3d3d3; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <img class="card-img-top" src="<%= currentUser.userAvatar %>" alt="<%= currentUser.userAvatar %>">
                    <div class="card-body">
                      <div class="card-body">
                        <label><b>Username:</b></label>
                        <h5 class="card-title"><%= currentUser.username %></h5>
                        <br>
                        <label><b>First name:</b></label>
                        <h5 class="card-title"><%= currentUser.userFirstName %></h5>
                        <br>
                        <label><b>Last Name:</b></label>
                        <h5 class="card-title"><%= currentUser.userLastName %></h5>
                        <br>
                        <label><b>Email:</b></label>
                        <h5 class="card-title"><%= currentUser.email %></h5>
                        <div>
                        <br>
                        <!--ensures edit button isn't visible for child-->
                        <% if(currentUser && (currentUser.accounttype === 'Adult' || currentUser.isHomeManager)){ %>
                        <a class="btn btn-warning btn-lg btn-block" href="/account/<%= currentUser._id %>/edit">Edit</a>
                        <% } %>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <script>
              //get all the elements
              var elements = document.getElementsByClassName('card-img-top');
            
              //set images
              for (var i = 0, length = elements.length; i < length; i++) 
              {
                if(elements[i].alt === "man1"){
                  elements[i].src = "/images/profilePictures/man1.jpg";
                } else if (elements[i].alt === "man2"){
                  elements[i].src = "/images/profilePictures/man2.jpg";
                } else if (elements[i].alt === "women1"){
                  elements[i].src = "/images/profilePictures/women1.jpg";
                } else if (elements[i].alt === "women2") {
                elements[i].src = "/images/profilePictures/women2.jpg"
                } else if (elements[i].alt === "childBoy") {
                elements[i].src = "/images/profilePictures/childBoy.jpg"
                } else if (elements[i].alt === "childGirl") {
                elements[i].src = "/images/profilePictures/childGirl.jpg"
                }
              }
            </script>